* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #111;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    color: #00adb5;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero span {
    color: #222;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 80px 50px;
    text-align: center;
}

.skill-box span {
    display: inline-block;
    background: #00adb5;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.project {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media(max-width:768px){
    header {
        flex-direction: column;
    }
    .project {
        width: 100%;
    }
}
